{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom_material.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav>
   <div class="nav-wrapper">
      <a href="/" class="brand-logo">iS2Tech</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'index'%}">List</a></li>
        <li><a href="{% url 'article:post_article'%}">Post</a></li>
        <li><a href="#">Bookmarks</a></li>
        <li><a href="{% url 'admin:index' %}">Admin Page</a></li>
        <li><a href="{% url 'accounts:logout'%}">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'index'%}">List</a></li>
        <li><a href="{% url 'article:post_article'%}">Post</a></li>
        <li><a href="#">Bookmarks</a></li>
        <li><a href="{% url 'admin:index' %}">Admin Page</a></li>
        <li><a href="{% url 'accounts:logout'%}">Logout</a></li>
      </ul>
    </div>
  </nav>

  <header></header>

  {% block extrahead %}{% endblock %}

  <main>
    <div class="container">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">iS2Tech</h5>
          <p class="grey-text text-lighten-4">
            I will support your knowledge management.
          </p>
        </div>
        <div class="col l3 offset-l1 s12">
          <h5 class="white-text">Article Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="{% url 'article:knowledge'%}">knowledge</a></li>
            <li><a class="grey-text text-lighten-3" href="{% url 'article:questions'%}">questions</a></li>
            <li><a class="grey-text text-lighten-3" href="{% url 'article:products'%}">products</a></li>
          </ul>
        </div>
        <div class="col l3 offset-l1 s12">
          <h5 class="white-text">External links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/guni973/iS2Tech">GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="https://guni973.github.io/">HP</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright guni973
      </div>
    </div>
    </footer> <script>
    $(".button-collapse").sideNav();
    </script>
  </body>
</html>
