{% extends 'article/base.html'%}

{% block title %} 記事リスト {%endblock%}

{% block content %}

<ul>
  <div class="row">
    {% for item in object_list %}
    <li>
      <a class="col s6" href="{% url 'article:detail' item.id %}">{{ item }}</a>
      <p class="col s2">Author:
        <a href="{% url 'accounts:mypage' item.author.id %}">{{ item.author }}</a>
      </p>
      <p class="col s2">{{ item.created_date }}<p>
      <a href="#" class='dropdown-button col s1' data-activates='dropdown1'><i class="material-icons">more_vert</i></a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="" href="{% url 'article:update' item.id %}">Edit</a></li>
        <li><a class="" href="{% url 'article:delete' item.id %}">Remove</a></li>
      </ul>
    </li>
    {% endfor %}
  </div>
</ul>
{%endblock%}
