{% extends 'article/base.html'%}

{% block title %} 記事リスト {%endblock%}

{% block content %}

<table class="bordered">
  <thead>
      <tr>
        <td>title</td>
        <td>Author</td>
        <td>created date</td>
        <td>sub menu</td>
      </tr>
    </thead>

    <tbody>
      {% for item in object_list %}
      <tr>
        <td><a href="{% url 'article:detail' item.id %}">{{ item }}</a></td>
        <td><p>Author:<a href="{% url 'accounts:mypage' item.author.id %}">{{ item.author }}</a></p></td>
        <td><p class="col s2">{{ item.created_date }}<p></td>
        <td>
          <a href="#" class='dropdown-button col s1' data-activates='dropdown1'><i class="material-icons">more_vert</i></a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a class="" href="{% url 'article:update' item.id %}">Edit</a></li>
            <li><a class="" href="{% url 'article:delete' item.id %}">Remove</a></li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{%endblock%}
