{% extends 'article/base.html'%}

{% block title %} 記事リスト {%endblock%}

{% block content %}

<ul>
  <div class="row">
    {% for item in object_list %}
    <li>
      <a class="col s8" href="{% url 'article:detail' item.id %}">{{ item }}</a>
      <p class="col s2">{{ item.created_date }}<p>
      <a class="col s1" href="{% url 'article:update' item.id %}">
        <i class="material-icons">edit</i></a>
      <a class="col s1" href="{% url 'article:delete' item.id %}">
        <i class="material-icons">delete</i></a>
    </li>
    {% endfor %}
  </div>
</ul>
{%endblock%}
